apiVersion: v1
kind: Service
metadata:
  name: patient-service
spec:
  type: LoadBalancer # Use NodePort or ClusterIP for different exposure methods
  selector:
    app: patient-service
  ports:
  - protocol: TCP
    port: 80
    targetPort: 3000